.container {
  max-width: 112rem;
  margin: 4rem auto;
  //background-color: pink;
  display: flex;

  min-height: 100vh;
}

.profile-view {
  flex: 0 0 30%;
  //background-color: brown;


}

.main-view {
  flex: 1;
  //background-color: aquamarine;
}

.header {
  display: flex;
  
}